
<p> I'm a recent graduate of Georgetown University, a politics and international affairs junkie, a tech enthusiast, a Chinese speaker, a singer, a Philadelphia sports fan, and a dog lover</p>

<h2>My Links</h2>
<ul>
  <li>Pictures are on <a href="https://Instagram.com/s_tephen"">Instagram</a></li>
  <li>Job Experience is on <a href="https://www.linkedin.com/in/stephenrgarrett"">LinkedIn</a></li>
  <li>Tweets are on, well, <a href="http://twitter.com/s_garrett_/"">Twitter</a></li>
  <li>Blog Posts are on <a href="https://starbuckssmall.tumblr.com/"">Tumblr</a></li>
  <li>Playlists are on <a href="https://open.spotify.com/user/sgarrett233"">Spotify</a></li>
  <li>My <a href="https://sgarrett2333.wixsite.com/stephen"">WixSite</a> can tell you a bit more about me</li>
</ul>

<p> Here are some more <a href="/pages"">links</a> that you should check out!</p>

<p>To contact me, use my <a href="https://sgarrett2333.wixsite.com/stephen"">WixSite</a> or my <a href="https://flowcrypt.com/me/srg59"">flowcrypt</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/sgarrett233/">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/s_garrett_">@s_garrett_</a>
  </li>
</ul>
