
<p> I work for the China practice at <a href="https://dgagroup.com/albright-stonebridge-group/">Albright Stonebridge Group</a>. </p> 
<p> I have a master's degree from  <a href="https://sais.jhu.edu/">Johns Hopkins University School of Advanced International Studies</a> in international relations with a focus on China and political economy. My bachelor's degree is from <a href="https://sfs.georgetown.edu/">Georgetown University</a>. </p>> 
<p> I'm politics and international affairs junkie, tech enthusiast, Chinese speaker, singer, Philadelphia sports fan, book lover, and dog owner.</p>

<p> My updated job experience is on <a href="https://www.linkedin.com/in/stephenrgarrett"">LinkedIn</a> </p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/sgarrett233/">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/s_garrett_">@s_garrett_</a>
  </li>
</ul>
