
<p> I'm a graduate student at <a href="https://sais.jhu.edu/">Johns Hopkins University School of Advanced International Studies</a> studying international relations with a focus on China and security. Previously, I worked at <a href="https://www.albrightstonebridge.com/">Albright Stonebridge Group</a>. I have a bachelor's degree from <a href="https://georgetown.edu">Georgetown University</a> and am a politics and international affairs junkie, tech enthusiast, Chinese speaker, singer, Philadelphia sports fan, and dog owner.</p>

<h2>My Links</h2>
<ul>
  <li>Pictures are on <a href="https://Instagram.com/s_tephen"">Instagram</a></li>
  <li>Job Experience is on <a href="https://www.linkedin.com/in/stephenrgarrett"">LinkedIn</a></li>
  <li>Playlists are on <a href="https://open.spotify.com/user/sgarrett233"">Spotify</a></li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/sgarrett233/">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/s_garrett_">@s_garrett_</a>
  </li>
</ul>
